{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/materialdesignicons.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static '/css/fontawesome.css' %}" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/selectize.css' %}" />

    <!--Slider-->
    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static '/css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static '/css/owl.transitions.css' %}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Loader -->

    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll scroll-active">
        <div class="navigation"></div>
        <!-- Tagline STart -->
            <div class="tagline">
                <div class="container">
                    
                    <div class="float-right">
                        <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                            <li class="has submenu"><a href="javascript:void(0);"><i class="mdi mdi-account mr-2"></i>{{request.session.firstname}} {{request.session.lastname}}</a></li>
                            <li class="submenu"><a href="{% url 'profile' pk=request.session.id %}">Profile</a></li>
                            
                        </ul>
                        
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
        
        

        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
                    <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
                </a>
            </div>                 
          
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
           
        </div>
        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu">
                
                <li class="has-submenu">
                    <a href="{% url 'createpage' %}">Create Poll Questions</a><span class="navigation-menu"></span>
                   
                </li>
                <li class="has-submenu">
                    <a href="{% url 'poll' %}">Polls by another peoples</a><span class="navigation-menu"></span>
                   
                </li>

                
                
                
            </ul><!--end navigation menu-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->

    <!-- Start Home -->
    <section class="bg-home" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">Welcome to the poll app.</h1>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- popular category start -->
    

    <!-- footer start -->
   
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">Poll app <i class="mdi mdi-heart text-danger"></i> by Hiresh.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static '/js/selectize.min.js' %}"></script>
    <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/js/counter.int.js' %}"></script>

    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>

</body>
</html>